<h1><%= t(:editing, scope: "commons.unisex", model: t(:student, scope: "activerecord.models")) %></h1>

<%= render 'form' %>

<%= link_to t(:show), @student %> |
<%= link_to t(:back), students_path %>
