<h1 class="page-header">
	<%= t(:editing, scope: "commons.unisex", model: t(:student, scope: "activerecord.models")) %>

	<%= link_to t(:show), @student, class: "btn btn-primary pull-right" %>
	<%= link_to t(:back), students_path, class: "btn btn-primary pull-right margin-right-10" %>
</h1>

<%= render 'form' %>

