<h1 class="page-header">
	<%= t(:new, scope: "commons.male", model: t(:student, scope: 'activerecord.models')) %>
	<%= link_to t(:back), students_path, class: "btn btn-primary pull-right" %>
</h1>

<%= render 'form' %>

